@charset "UTF-8";
@import url("reset.css");
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Regular.woff);
  src: url(../font/Pretendard-Regular.eot);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Medium.woff);
  src: url(../font/Pretendard-Medium.eot);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-SemiBold.woff);
  src: url(../font/Pretendard-SemiBold.eot);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Bold.woff);
  src: url(../font/Pretendard-Bold.eot);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.racing-sans one-regular {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

button {
  border: 0;
  background-color: transparent;
}

/* 변수담기 */
:root {
  --font-kr: "Pretendard";
}

body {
  min-width: 1920px;
  font-family: "Pretendard";
  line-height: 1;
  color: #333;
  margin: 0 auto;
}

html, body {
  /* font-size: 62.5%; /* 10px */
  font-size: var(--basic-size);
}

#wrap {
  width: 100%;
  margin: 0 auto;
  background-color: #2F4B92;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgba(47, 75, 146, 0.7607843137);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header .inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header .inner a {
  width: 80px;
}
.header .inner a img {
  height: 33px;
}
.header .inner .menu {
  display: flex;
  color: #fff;
  align-items: center;
}
.header .inner .menu li {
  padding: 0 20px;
}

.main {
  width: 100%;
}
.main .Banner {
  width: 1440px;
  padding-top: 200px;
  margin: 0 auto;
}
.main .Banner .title {
  font-size: 40px;
  color: #fff;
}
.main .Banner--list--item01 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.main .Banner--list--item01--imglist {
  padding: 10px 0;
  width: 350px;
  height: 350px;
}
.main .Banner--list--item01--imglist img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .Banner--list--item02 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.main .Banner--list--item02--imglist {
  padding: 10px 0;
  width: 470px;
  height: 200px;
}
.main .Banner--list--item02--imglist img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .sns {
  width: 1440px;
  padding-top: 200px;
  margin: 0 auto;
}
.main .sns .title {
  font-size: 40px;
  color: #fff;
}
.main .sns--list--item01 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.main .sns--list--item01--imglist {
  padding: 10px 0;
  width: 350px;
  height: 350px;
}
.main .sns--list--item01--imglist img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .detailpage {
  width: 1440px;
  padding-top: 200px;
  margin: 0 auto;
}
.main .detailpage .title {
  font-size: 40px;
  color: #fff;
}
.main .detailpage--list--item01 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.main .detailpage--list--item01--imglist {
  padding: 10px 0;
  width: 350px;
  height: 350px;
}
.main .detailpage--list--item01--imglist img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .card_wrap {
  width: 1440px;
  padding: 200px 0;
  margin: 0 auto;
}
.main .card_wrap .title {
  font-size: 40px;
  color: #fff;
}
.main .card_wrap .mySwiper {
  width: 100%;
  height: 460px;
  padding: 50px 0;
  margin-bottom: 20px;
}
.main .card_wrap .mySwiper .swiper-slide {
  width: 470px;
  height: 470px;
}
.main .card_wrap .mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.main .card_wrap .mySwiper .swiper-pagination-bullet-active {
  background-color: #fff;
}/*# sourceMappingURL=sub1.css.map */